body {
    font-family: 'Great Vibes', cursive;
    padding-top: 15px;
    background-color: #ffffff;
    background-image: url("../img/pattern-seamlessly.jpg");
    background-repeat: repeat;
}

.footer {
    font-family: 'Galada', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

hr.style_hr {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style_hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.sg-thumbnail .thumbnail {
    display:inherit;
    border-radius: 25%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }